/* ManageReviews.css */

.manage-reviews {
    padding: 20px;
  }
  
  .manage-reviews h3 {
    margin-bottom: 20px;
    font-size: 23px;

  }
  
  .reviews-list {
    list-style-type: none;
    padding: 0;
  }
  
  .review-item {
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .review-item p {
    margin: 0;
    font-size: 23px;
    padding: 12px;


  }
  .delete-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 12px; 
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: auto;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  
  
  